<center>
<h1> Spaces Available </h1>
</center>
  <ul id='spaces'>
    <% @spaces.each do |space| %>
      <li>
        <h3> Name of place: </h3>
        <%= space.title %><br>
        <h4> Owner </h4>
         <%= space.user.name %><br>
        $<%= space.price %> a night<br>
        Description:
        <%= space.description %><br>
      </li>
    <% end %>
  </ul>
