<form method="get" action="/spaces/new">
  <input type='submit' value='List space'>
</form>

<h1> Spaces Available </h1>
  <ul id='spaces'>
    <% @spaces.each do |space| %>
      <li>
        <%= space.title %> by <%= space.user.name %>
        <%= space.description %>
        $<%= space.price %> a night
      </li>
    <% end %>
  </ul>
