<% @space = Space.get(@space_id) %>

<br><br><form method="post" style="float:left"action="/spaces">
  <table>
    <tr><td><label for="title">Space title:</label>
      <td><input type="text" name="title" value="<%= @space.title %>"/>
    <tr><td><label for="price">Price: </label>
      <td><input type="number" name="price" value="<%= @space.price %>"/>
    <tr><td><label for="description">Description:</label>
      <td><textarea name="description" rows="5" cols="50" maxlength="500">
      <%= @space.description %>
      </textarea>
  </table>
  <p>Availability dates for your space</p>
  <label for="from_date">
    From:
  <input type="date" name="from_date" required>
  </label>
  <label for="to_date">
    To:
  <input type="date" name="to_date" required>
  </label>
  <input type='submit' value='Add space'>
</form>
