
<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <h2> List Space </h2>

      <form method="post" style="float:left"action="/spaces/new">
      <table>
        <div class="form-group">
          <label for="title">Space title:</label>
            <input type="text" name="title" class="form-control"/>
        </div>

        <div class="form-group">
          <label for="price">Price: </label>
            <input type="number" name="price" class="form-control"/>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <textarea name="description" rows="5" cols="50" maxlength="500" class="form-control"></textarea>
        </div>
        
          <p>Availability dates for your space</p>
          <div class="form-group">
            <label for="from_date">From:</label>
              <input type="date" name="from_date"  class="form-control" required/>
          </div>
            
          <div class="form-group">
            <label for="to_date">To:</label>
              <input type="date" name="to_date" class="form-control" required/>
          </div>
            <input type='submit' value='Add space' class="btn btn-default">
      </table>
      </form>         
     
    </div>
  </div>
</div>
