<form method="post" action="/spaces">

  <label for="title">
    Space title:
  </label>
  <input type="text" name="title" />

  <label for="description">
    Description:
  </label>
  <textarea name="description" rows="5" cols="50" maxlength="500"></textarea>
  <label for="price">
    Price: $
  </label>
  <input type="text" name="price" />
  <input type='submit' value='Add space'>
</form>
