<form method="post" action="/spaces">

  <label for="title">
    Space title:
  </label>
  <input type="text" name="title" />

  <label for="description">
    Description:
  </label>
  <textarea name="description" rows="5" cols="50" maxlength="500"></textarea>

  <p>Availability dates for your space</p>
  <label for="from_date">
  	From:
  <input type="date" name="from_date">
  </label>
  <label for="to_date">
  	To:
  <input type="date" name="to_date" >
  </label>

  <input type='submit' value='Add space'>
</form>