<h2>Sign up to BEEEAAAST!</h2>
<form action='/users' method='post'>
  <table>
  <tr><td><label for='name'>Name: </label>
    <td><input name='name' type='text' placeholder="Name"value="<%= @user.name %>" required>

  <tr><td><label for='email'>Email: </label>
    <td><input name='email' type='email' placeholder="Email"value="<%= @user.email %>" required>

  <tr><td><label for='password'>Password: </label>
    <td><input name='password' placeholder="Password"type='password' required>

  <tr><td><label for='password_confirmation'>Confirm Password: </label>
    <td><input name='password_confirmation' placeholder="Password"type='password'>
  <br>
  </table>
  <input style="float:left"type='submit' value='Sign up'>
</form>
<form action='/sessions/new' method='get'>
  <input style="float:left"type='submit' value='Sign in'>
</form>
