<ul id='requests'>

<% @user.spaces.each do |space| %>
<% i = 0 %>
<%= space.title %>
<% space.requested_dates.length.times do %>
<li>

<% hash = space.requested_dates[i] %>
<% key = hash.keys[0] %>

<% @renter = User.get(key.to_s.to_i) %>
Renter: <%= @renter.name %>
<% dates = hash.values %>
Dates:
<%= check_in = dates[0].values[0] %>
<%= check_out = dates[0].values[1] %>
<% i += 1 %>
</li>
<%end%>

<%end%>
</ul>
