<h2>Sign up to BEEEAAAST!</h2>

<form action='/users' method='post'>
  <label for='name'>Name: </label>
    <input name='name' type='text' value='' required>

  <label for='email'>Email: </label>
    <input name='email' type='email' value='' required>

  <label for='password'>Password: </label>
    <input name='password' type='password' required>

  <label for='password_confirmation'>Confirm Password: </label>
    <input name='password_confirmation' type='password'>
  <br>
  <input type='submit' value='Sign up' class="btn btn-medium btn-primary">
</form>