body {
  font-size: 16px;
  font-weight: 300;
}

#notice, #errors { 
  position:absolute; 
  top: 14px; 
  right: 50%; 
  margin-left: auto; 
  margin-right: auto; 
}
.sign-in-page {
  line-height: 30px;
  text-align: center;
  background-image: url("http://cdn.garryhome.com/2016/03/27/the-hamilton-penthouse-corinthia-hotel-london-l-182fb49c0d5bf322.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row-centered {
  margin-top: 7%;
}

.btn {
  background-color: #0ACBEE;
  color: #FFF;
  font-weight: bold;
}

.navbar-btn {
  margin-top: -4px;
}

.caption {
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: #EEE;
}

/***FORM STYLING***/
.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #333;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #fff;
  line-height: 100px;
  text-align: right;
  opacity: 0.3;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form button.btn {
  width: 100%;
}

.form-bottom form .input-error {
  border-color: #19b9e7;
}

#listings {
    display: inline-block;
    width: 200px;
    margin: 20px;
}

#space_container{
    margin:auto;
    width: 80%;
    border: 3px solid #19b9e7;
    border-radius: 10px;
    padding: 10px;
}

.navbar{
  background-color:#19b9e7;
}

#beast{
  color: #FFFFFF;
}

#welcome{
  color: #FFFFFF;
}
