<!DOCTYPE html>
<html>
<head>
  <title>BEAST BnB</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
</head>

<body>

  <%= partial :welcome %>
  <%= partial :flash %>
  <%= yield %>
</body><br>
</html>
